//colors
$primary:  rgba(148, 0, 0, 1);
$yellow: #f0c509;
$green: #008477;
$pink: #a81c5c;

$darkgray: #111;
$superlightgray: #eee;

//spacing
$space-xxs: 12px;

//font-size
$ratio: 1.333;
$caption: 12px;
$body1: 14px;
$body2: 16px;
$h6: 20px;
$h5: $h6*$ratio;
$h4: $h5*$ratio;
$h3: $h4*$ratio;
$h2: $h3*$ratio;
$h1: $h2*$ratio;

//line-height
$lineSimple: 1;
$lineBase: 1.5;
$lineDouble: 2;
